/* Market Card Animation */
.market-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .market-card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  }
  
  /* Icon Hover Effect */
  .icon-wrapper {
    transition: transform 0.3s ease-in-out;
  }
  
  .market-card:hover .icon-wrapper {
    transform: rotate(12deg) scale(1.2);
  }
  
  /* Background Hover Animation */
  .market-card .hover-bg {
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Text Overlay on Hover */
  .market-card:hover .hover-bg {
    opacity: 0.9;
  }
  .market-analysis{
    margin-top: 16px;
    margin-bottom: 16px;
    filter: blur(3px) sepia(100%);
    filter: drop-shadow(0 0 6rem rgb(68, 31, 31));
    border-top-left-radius:10px;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    box-shadow: 0 4px 30px rgb(230, 230, 230);
    transition: 0.9s;
  }